{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
PRODUCT INVENTORY COMPONENT
----------------------------------------------------------------------------------------------------------------------

This component is used to display the inventory of a given product

********************************************
Supported variables
********************************************

* product: the product from which the inventory is extracted (required)
* low_threshold: the inventory quantity threshold below which the inventory is shown as "red"
* form_id: if specified, define the form ID linked to this input
{%- endcomment -%}

<variant-inventory {% if form_id %}form="{{ form_id }}"{% endif %}>
  {%- for variant in product.variants -%}
    {%- if variant == product.selected_or_first_available_variant -%}
      {%- assign variant_selected = true -%}
    {%- else -%}
      {%- assign variant_selected = false -%}
    {%- endif -%}

    {%- if variant.available -%}
      {% assign count = variant.inventory_quantity | divided_by: 20 | plus: 5 %}
      <div {% unless variant_selected %}hidden{% endunless %} data-variant-id="{{ variant.id }}" >
        {% if count < 20 %}
          {% assign background = '#F73131' %}
        {% elsif count < 50 %}
          {% assign background = '#FEA53F' %}
        {% else %}
          {% assign background = '#00944A' %}
        {% endif %}
        <span class="text-with-icon" style="--color-processing: {{ background }};">{{- 'product.inventory.count_inventory_html' | t: count: count -}}</span>
        <div class="range-inventory">
          <div class="processing" style="--percent: {{ count | append: '%' }};--color-processing: {{ background }};"></div>
        </div>
      </div>
    {%- elsif variant.incoming -%}
      {%- if variant.next_incoming_date -%}
        {%- capture next_incoming_date -%}{{ variant.next_incoming_date | date: format: 'date' }}{%- endcapture -%}
        <span {% unless variant_selected %}hidden{% endunless %} data-variant-id="{{ variant.id }}" class="text-with-icon text-warning">{%- render 'icon' with 'warning' -%} {{- 'product.inventory.incoming_stock' | t: next_incoming_date: next_incoming_date -}}</span>
      {%- else -%}
        <span {% unless variant_selected %}hidden{% endunless %} data-variant-id="{{ variant.id }}" class="text-with-icon text-warning">{%- render 'icon' with 'warning' -%} {{- 'product.inventory.oversell_stock' | t -}}</span>
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
</variant-inventory>